@mixin mid-line($bg-color: $purple, $width: 50px, $margin-top: 20px){
	content: '';
	position: absolute;
	display: block;
	height: 5px;
	width: 50px;
	background: #{$bg-color};
	left: calc(50% - #{$width} / 2);
	margin-top: #{$margin-top};
}

@mixin full-w-line($bg-color: $purple){
	content: '';
	position: absolute;
	display: block;
	height: 5px;
	width: 100%;
	background: #{$bg-color};
	left: 0;
}