@import '../../components/scss/stylesContainer';

body{
	.home-container{
		text-align: center;

		.home-content-container{
			height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.glass-container{
			display: flex;
			justify-content: center;
			align-items: center;

			.glass-inner{
				background: rgba(255,255,255, 0.8);
				padding: 50px 25px;
				box-shadow: 0 0 15px 8px rgba(255,255,255,0.85);
			}

			.obj-title, .obj-sub-title{
				color: $dark_blue;
			}

			.obj-title{
				font-size: 43px;
			}

			.obj-sub-title{
				font-size: 28px;
				margin-bottom: 35px;
			}

			.obj-btn{
				color: $dark_blue;
				border: 1px solid $dark_blue;
				padding: 10px 30px;
				font-size: 18px;
				text-transform: uppercase;
				transition: background 0.3s;

				&:hover{
					background: $dark_blue;
					border: 1px solid $dark_blue;
					color: $white;
				}
			}
		}

		.obj-title, .obj-sub-title{
			// background: -webkit-linear-gradient(white, #38495a);
		 //    background-clip: border-box;
			// -webkit-background-clip: text;
			// -webkit-text-fill-color: transparent;
		}

		canvas{
			left: 0;
			top: 0;
			position: fixed;
			z-index: -1;
			height: 100vh;
		}

		.box-content-container{
			text-align: left;
		}

		.box-content{
			color: $black;
			background: rgba(255,255,255, 0.95);
			margin-bottom: 45px;
		    // box-shadow: 0 0 6px -1px rgb(245,222,179);
		    padding: 0;
		    // max-width: 320px;

		    &:last-of-type{margin-bottom: 0;}

		    .content-text, .tech-used-container{
		    	padding-left: 10px;
		    	padding-right: 10px;
		    }

		    .content-text{margin-bottom: 15px;}

		    .tech-used-container{
		    	border-top: 1px solid rgba(0,0,0, 0.1);
			    padding-top: 15px;
			    padding-bottom: 15px;

			    span:last-of-type{
			    	font-style: italic;
			    }
		    }

		    .content-link-btn{
		    	background: rgba(27,39,53, 0.9);
		    	color: $white;
		    	padding: 10px 0;

		    	&:hover{
		    		background: rgba(11, 45, 85, 0.9);
		    	}

		    	&:focus{
		    		background: rgba(5, 35, 70, 0.9);
		    	}
		    }

		    .tech-used{
		    	margin-right: 5px;
		    	font-weight: bold;
		    }

		    .box-img-link{
		    	overflow: hidden;

		    	.content-img{
		    		transition: transform 1s ease;

		    		&:hover{
		    			transform: scale(1.1);
		    		}
		    	}
		    }

		    .obj-title{
		    	padding: 15px 0;
		    	margin-bottom: 0;
		    }
		}
	}
}

@media (max-width: 575px){
	body{
		.home-container{
			.box-content{
				max-width: 320px;
			}
		}
	}
}

@media (min-width: 576px){
	body{
		.home-container{
			.glass-container{
				.obj-title{font-size: 65px;}

				.obj-sub-title{font-size: 35px;}
			}

			.box-content{
				display: flex !important;
				flex-direction: row !important;
				width: 100%;

				.box-img-link{
					width: 100%;
					max-width: 200px;
					min-width: 200px;

					.content-img{height: 100%;}
				}

				.box-inner-content{
					display: flex;
					flex-direction: column;
					width: 100%;
				}

				.obj-title{
					padding: 15px;
					margin: 0;
				}

				.content-text, .tech-used-container{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}

@media (min-width: 992px){
	body{
		.home-container{
			.box-content{
				.box-img-link{
					width: 100%;
					max-width: 300px;
					min-width: 300px;
				}

				.content-text{
				    height: 100%;
				    display: flex;
				    flex-wrap: wrap;
				    justify-content: center;
				    width: 80%;
				    margin-left: auto;
				    margin-right: auto;
				    text-align: center;
				}

				.obj-title{
					display: flex;
				    align-items: center;
				    font-size: 35px;
				    // margin-left: auto;
				    // margin-right: auto;
				}
			}
		}
	}
}

@mixin md-home(){
	
}