@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

$white: #fff;

$black: #000;

$red: #ff0000;

$green: #12b361;

$purple: #663399;
$dark_purple: #3a0d67;
$purple_hover: #7b25d2;
$purple_active: #7713dc;

$light_pink: #f1e2e2;

$dark_grey1: #222;

$blue: #1e99d0;
$light_blue1: #ccf9ff;
$dark_blue: rgb(27,39,53);

$light_grey: #F3F3F3;
$light_grey2: #C2C2C2;

body{
	h1{font-size: 35PX;}
	h2{font-size: 30px;}
	h3{font-size: 25px;}

	font-family: 'Rubik', sans-serif;

	a{
		color: $black;
		transition: color 0.3s;

		&:hover{
			color: $dark_purple;
			text-decoration: none;
		}
	}
}